
#body {
  width: 100%;
  padding-left: 203px;
}

button {
  width: 336px;
  height: 82px;
  background-color: #2E9720;
  color: #fff;
  border: none;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: normal;
  text-transform: none;
  font-size: 42px;
}

.hero {
  background: url("../images/piscine.jpg") center/cover;

  background-color: green;

  height: 824px;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  //padding-left: 209px;

  div {
    margin-left: 44px;
    color: #fff;

    h1 {
      font-family: 'Alfa Slab One', cursive;
      font-size: 120px;
      text-transform: none;

      margin: 0;
      font-weight: normal;
    }

    h2 {
      font-family: 'Source Sans Pro', sans-serif;
      text-transform: none;
      font-size: 36px;

    }
  }
}

.faireDon {
  width: 100%;

  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  div {
    max-width: 750px;

    p {
      color: #2E9720;
    }
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 36px;
    text-transform: none;
    font-weight: normal;

    text-align: center;
  }

}

.acActivite {

  display: flex;
  justify-content: center;

  height: 400px;

  div {
    width: 50%;
  }

  .acActImg {
    width: 50%;
    background: url("../images/tirArc.png") center/cover;
    background-color: #2E9720;

    position: relative;
    overflow: hidden;

  }

  .actHover {
    opacity: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;
    transition: all .5s;

    height: 100%;
    width: 100%;

    background: rgba(46, 151, 32, 0.5);
    backdrop-filter: blur(20px);

    button {
      background-color: #EBEBEB;
      color: #2E9720;
      margin-bottom: -20%;
    }
  }

  .acActImg:hover .actHover {
    opacity: 1;

    button {

      margin-bottom: 0;
    }
  }

  .actContenue {
    padding-left: 78px;
  }

  h3 {
    font-family: 'Alfa Slab One', cursive;
    text-transform: none;
    font-weight: normal;
    font-size: 36px;
  }

  .acLigne {
    max-width: 225px;
    height: 9px;
    background-color: #7FACBF;
    margin-top: -30px;
  }

  ul {

    padding: 0;
    li {
      list-style: none;
      font-family: 'Source Sans Pro', sans-serif;
      font-weight: normal;
      text-transform: none;
      font-size: 30px;
    }
  }
}

.acActivite.Alt {

  text-align: right;
  align-items: right;
  .acLigne {

    align-self: flex-end;

  }
  .acActImg2 {
    background: url("../images/poney.jpg") center/cover;

    background-color: #2E9720;
    position: relative;
    overflow: hidden;

  }

  .actContenue2 {
    padding-right: 78px;

    display: flex;
    flex-direction: column;
    align-items: right;

  }

  .actHover2 {
    opacity: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;
    transition: all .5s;

    height: 100%;
    width: 100%;

    background: rgba(46, 151, 32, 0.5);
    backdrop-filter: blur(20px);

    button {
      background-color: #EBEBEB;
      color: #2E9720;
      margin-bottom: -20%;
    }
  }

  .acActImg2:hover .actHover2 {
    opacity: 1;

    button {
      margin-bottom: 0;
    }
  }
}

.accueilActivite {
  max-width: 1238px;

  margin: 0 auto;

  .acButton {
    display: none;
  }
}

.promotion {
  margin-top: 146px;
  background-color: #2E9720;
  img {
    //position: absolute;
    width: 665px;
    height: 588px;

    //left: 60.8%;

    align-items: flex-end;

  }

  .promContenant {

    height: 543px;
    width: 100%;
    display: flex;

    align-items: center;
    justify-content: space-around;

    //padding-left: 112px;
    position: relative;

    div {

      //margin-left: -800px;
      z-index: 2;
      max-width: 487px;
      h2 {
        font-family: 'Alfa Slab One', cursive;
        color: #fff;
        font-size: 48px;
        text-transform: none;
        font-weight: normal;
      }

      h4 {
        margin-top: -40px;
        font-family: 'Source Sans Pro', sans-serif;
        text-transform: none;
        font-size: 18px;
        font-weight: normal;
        color: #fff;
      }

      p {
        font-family: 'Source Sans Pro', sans-serif;
        text-transform: none;
        font-size: 30px;
        font-weight: normal;
        color: #fff;
      }
    }
  }
}

.partenaire {
  margin-top: 109px;
  //display: flex;
  //flex-direction: column;
  //justify-content: center;
  align-items: center;

  h2 {
    font-family: 'Alfa Slab One', cursive;
    font-size: 48px;
    text-transform: none;
    color: black;
    align-items: flex-start;
    //margin-left:160px ;
    max-width: 487px;
  }
  .flexPart {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .partContenant {
    max-width: 756px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    div {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 243px;
      height: 130px;
      margin: 79px 0 50px 0;
      img {
        width: 50%;

      }
    }
  }
}

@media screen and (max-width: 730px) {
  #body {
    padding-top: 150px;
    padding-left: 0;


    button {
      width: 196px;
      height: 60px;
      font-size: 30px;
    }

    .hero {
      height: 276px;


      div {

        margin-left: 39px;
        h1 {
          font-size: 50px;
        }

        h2 {
          font-size: 20px;
        }
      }

    }

    .faireDon {

      div {

        max-width: 342px;
        p {
          font-size: 24px;
        }
      }

    }

    .accueilActivite {

      .acButton {
        display: block;
        align-self: center;

        margin: 15px auto;
      }
    }

    .acActivite {
      display: block;

      height: auto;

      h3 {
        font-size: 24px;
        padding-bottom: 14px;
      }

      li {
        font-size: 18px;
      }

      .acLigne {
        height: 5px;
        width: 116px;
      }

      .acActImg {
        width: 100%;
        height: 266px;

        :hover {
          width: 100%;
        }
      }

      .acActImg2 {
        width: 100%;
        height: 266px;
      }

      .actContenue {
        margin: 0;

        width: 247px;

      }
      div {
        width: 100%;
      }

      .acActImg2 {
        :hover {
          width: 100%;
        }
      }

      .actContenue2 {

        align-items: flex-end;

        h3 {
          width: 247px;
        }

      }

    }

    .promotion {

      overflow: hidden;
      img {

        height: 444px;
        width: auto;
        position: absolute;
        right: -50%;
      }

      .promContenant {

        div {
          width: 259px;
          padding: 20px;

          background-color: rgba(138, 196, 43, 0.85);

          h2 {
            font-size: 30px;
            padding-bottom: 30px;
          }

          p {
            font-size: 20px;
            margin: 30px 0;
          }

          h4 {
            font-size: 20px;
            margin: 0;
          }
        }

      }

    }

    .partenaire {

      h2 {
        font-size: 30px;
        margin: 0 auto;
        padding-left: 37px;
      }

      .partContenant {
        justify-content: center;
      }

    }

  }
}

@media screen and (min-width: 730px) and (max-width: 1140px) {

  .wrapper {
    max-width: 500px;
  }

  .hero {

    .wrapper {
      div {
        margin: 0;
      }
    }

  }

  .accueilActivite {
    h3 {
      font-size: 26px;

    }

    p {
      font-size: 20px;
    }

    .acActivite {
      height: 350px;
    }

  }

  .promotion {
    position: relative;
    overflow: hidden;
    img {
      position: absolute;
      right: -40%;
      height: auto;
      width: 50vw;
    }

  }


}


