section{
  img{
    width: 620px;
    height: 397px;
  }

}


.camp{

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .acLigne {
    width: 600px;
    height: 9px;
    background-color: #7FACBF;
    margin-top: 20px;
  }

}

.introcamps{

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .acLigne {
    width: 600px;
    height: 9px;
    background-color: #7FACBF;
    margin-top: 20px;


  }
}

.infocamp{

  p{
    width:988px;
  }


  .acLigne {
    width: 600px;
    height: 9px;
    background-color: #7FACBF;
    margin-top: 20px;
  }
}



.infocamp2{

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  p{
    width:988px;
  }


  .acLigne {
    width: 600px;
    height: 9px;
    background-color: #7FACBF;
    margin-top: 20px;
  }
}

.formulaire{

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 100px;

  .champname{

    padding: 21px 600px;
    border-radius:20px;
    margin: 20px;
    font-size: 20px;

  }

  .champemail{
    padding: 21px 600px;
    border-radius:20px;
    margin: 20px;
    font-size: 20px;

  }

  .champmessage{
    padding: 100px 600px;
    border-radius:40px;
    margin: 20px;
    font-size: 20px;
    resize: vertical;
  }

  .champname[type=text]:focus {
    border: 3px solid #2E9720;
  }

  .champemail[type=email]:focus {
    border: 3px solid #2E9720;
  }

  .champmessage[type=text]:focus {
    border: 3px solid #2E9720;
  }

  button{
    margin: 50px;
  }

}

@media screen and (max-width: 834px) {
  body{

    .camp{
      p{
        font-size: 21px;
      }
    }

    h1{
      font-size: 30px;
    }
    section{
      p{
        font-size: 18px;
      }
    }

  }

}


@media screen and (max-width: 1140px) {





}