.navLogo {
  position: fixed;
  height: 200px;
  width: 203px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  z-index: 3;
}

nav {

  z-index: 3;
  position: fixed;
  width: 203px;
  margin-top: 200px;

  .boiteLogo {
    height: 20vh;
  }

  img {
    width: 203px;
    height: auto;

  }

  ul {
    padding: 0;
    margin: 0;
    width: 203px;

    li {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 10vh;
      width: 100%;
      list-style: none;
    }

    a:link {
      color: white;
    }
  }

}

div {

  height: 10vh;

}

a div {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #DDD;

}

.divLangue {

  .navPositionA {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;

  }

  padding: 0 30px;
  display: flex;
  justify-content: space-between;

  align-items: center;

  .langue {
    display: flex;
    flex-direction: column;
    justify-content: center;

    a {
      height: 30px;

      p {
        margin: 0;
      }
    }

  }
}

.navLogo {
  background-color: white;
}

.accueil {
  background-color: #2E9720;
}

.camp {
  background-color: #29B85F;
}

.parc {
  background-color: #209788;
}

.activite {
  background-color: #206A97;
}

.location {
  background-color: #205097;
}

.emploie {
  background-color: #4D2097;
}

.contact {
  background-color: #782097;
}

.divLangue {
  background-color: white;
  display: flex;
  align-items: center;
}

a:link {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: normal;
  font-size: 24px;
  text-transform: none;
  text-decoration: none;

}

.btn-ouvert {
  display: none;
}

.btn-fermer {
  display: none;
}

.fermer {
  display: none;
}



@media screen and (max-width: 730px) {

  nav {

    .fermer {
      display: none;
      opacity: 0;
      z-index: 4;
    }

    .ouvert {
      display: block;
      opacity: 1;
      position: absolute;
      right: 0;
      padding-right: 15px;
    }

    .divLangue {
      justify-content: center;

      .navPositionA {
        margin-right: 100px;
      }
    }

    .btn-ouvert {
      display: block;
    }
    position: fixed;
    width: 100vw;

    .boiteLogo {
      display: flex;
      justify-content: space-between;
      background-color: #2E9720;
      align-items: center;
      height: 150px;
      img {
        height: 150px;
        width: auto;
      }
      .logo {
        height: 130px;
        width: auto;
      }

      #menu {
        width: 60px;
        height: auto;
        margin-right: 20px;
      }

      #fermer {
        width: 100px;
        height: auto;
        margin-right: 20px;
      }
    }

    .navLogo {
      justify-content: space-between;
      //max-width: 122px;
      background-color: white;

      height: 150px;

    }

  }
  .sousmenu {
    height: 0;
    overflow: hidden;
    width: 100%;
    padding: 0;

    .divLangue {
      height: 12vh;
    }

  }

  .open {
    height: 85vh;
    transition: all .5s;
    padding: 0;
  }

  .close {
    height: 0;
    transition: all .5s;
  }
}


